<head>
  <title>SteelSky Example</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8"/>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<div class="jumbotron">
  <h1 class="display-4">
    <span class="hilight">S</span>teel<span class="hilight">S</span>ky
  </h1>
  <p class="lead">
    A very lightweight,<br>
    <span class="hilight">"No BS"</span><br>
    static site generator written in NodeJS.</p>
  <hr class="my-4">
  <p>Automatically converts an arbitrary directory structure containing markdown and other static assets into a static site with no external dependencies.</p>
  <p class="lead">
    <a class="btn btn-outline-light btn-lg" href="https://github.com/matdombrock/SteelSky" role="button" target="_blank">Github</a>
    <a class="btn btn-outline-light btn-lg" href="https://github.com/matdombrock/SteelSky/wiki" role="button" target="_blank">Wiki</a>
    <a class="btn btn-outline-light btn-lg" href="https://www.npmjs.com/package/steelsky" role="button" target="_blank">NPM</a>
  </p>
</div>
<nav class="navbar navbar-expand-lg">
  <a href="https://matdombrock.github.io/SteelSkyExample/">Home</a>
  <a href="https://matdombrock.github.io/SteelSkyExample/examples/syntax-highlighting.html">Syntax Hilighting</a>
  <a href="https://matdombrock.github.io/SteelSkyExample/examples/bootstrap.html">Bootstrap</a>
  <a href="https://matdombrock.github.io/SteelSkyExample/examples/vuejs.html">VueJS</a>
  <a href="https://matdombrock.github.io/SteelSkyExample/examples/other-libs.html">Other Libraries</a>
  <a href="https://matdombrock.github.io/SteelSkyExample/examples/directory.html">Directory Listing</a>
</nav>
<div class="header-spacer"></div>